Flask
Gunicorn
Werkzeug
numpy
pandas
opencv-python
cmake
argparse
scipy
tensorflow
imutils
tika
wave
nltk
gensim
seaborn
scikit-learn
dill
keras
wordcloud
numpy
opencv-python
argparse
scipy
tensorflow
altair
requests
imutils
pyaudio
librosa
# Install dlib on Ubuntu https://www.jianshu.com/p/44469d7d86b3